<div class="container d-flex justify-content-center align-items-center vh-100 bg-info">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Bienvenido/a a mi pagina Web</h1>
            <h3>Al clicar en el siguiente boton podras acceder a los presupuestos</h3>
            <br>
            <ul class="nav nav-pills justify-content-center" >
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/home">Ir a presupuestos</a>
                </li>
            </ul>
        </div>
    </div>
</div>



