<div class="container d-flex justify-content-center align-items-center vh-100 bg-info">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Bienvenido a mi pagina web</h1>
            <h3>Al cliclar en el siguiente boton accederas a calcular presupuestos</h3>
            <div class="col d-flex justify-content-center m-4">
                <button class="btn btn-primary" routerLink="/home">Ir a presupuestos</button>
            </div>
        </div>
    </div>

</div>



